---
import Layout from "../layouts/layout.astro";
---

<Layout>
  <h1 class='text-2xl font-bold'>God jul, William! 游꾻</h1>
  <p>
    Julegaven din er dessverre litt sen, s친 vi m친 gi deg en midlertidig gave
    mens du venter. Dersom du klarer 친 l칮se den ganske vanskelige g친ten p친 denne
    sida s친 er premien din at du f친r se hva vi har ordnet til deg i julegave!
  </p>
  <a href='/challenge' class='bg-[#bc4749] text-white py-2 px-4 rounded'
    >Ta meg til utfordringen</a
  >
</Layout>
