<html class='bg-[#f2e8cf]' lang='nb-NO'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Kan du alfabetet?</title>
  </head>
  <body
    class='min-h-screen flex flex-col justify-center items-center p-4 gap-4'
  >
    <slot />
  </body>
</html>
